<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
	<appSettings>
    <!--add key="connectionstring" value="Data Source=LAB229\SQLEXPRESS;Initial Catalog=mygtl;Integrated Security=True" /--> 
    <add key="connectionstring" value="database=test2;Server=192.168.1.113,1433;User ID=sa;Password=sjtu123!;Persist Security Info=True"/>
	</appSettings>
</configuration>
